
.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;

}

.post-form, .post-form input {
    width: 10%;
}

h1,h2,h3,h4{
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
}

