{% load static %}

<nav class="container-fluid navbar-inverse navbar-fixed-top navbar-collapse" style="background-color: lightslategrey" >
  <div class="navbar-header">
    <a class="navbar-brand" href="{% url 'bienvenida' %}?next={{request.path}}" style="color: whitesmoke">Home</a>
  </div>

    {% if user.is_authenticated %}
          <ul class="nav navbar-nav">
        <li><a href="{% url 'fileupload' %}" >Firmar archivos</a></li>
        <li><a href="{% url 'verify' %}"> Verificar Firma</a> </li>
          <li><a href="{% url 'nueva_llave' %}">Nuevas llaves</a> </li>
          </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'sign_out'%}" ><span class="glyphicon glyphicon-log-in"></span> Cerrar Sesión</a></li>
        </ul>
    {% else %}
        <ul class="nav navbar-nav">
            <li><a hre href="{% url 'sign_up' %}" >Registrate</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'sign_in'%}?" style="color: whitesmoke"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>

    {% endif %}
</nav>