{% extends "base.html" %}
{% load static %}
{% block title %}Bienvenido{% endblock %}

{% block content %}
{% csrf_token %}
{% if user.is_authenticated %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <body>
    <div class="container-fluid">
        <h1 class="align-content-sm-start">Hola {{ user.username |escape}}</h1>
        <p> Ha iniciado sesion con exito .</p>

    </div>
    </body>

{% else %}
   <p> Autenticate o registrate ahora</p>
{% endif %}

{% endblock content %}