{% extends "base.html" %}
{% load static %}
{% block title %}Firma de archivo{% endblock %}

{% block content %}
{% csrf_token %}
{% if user.is_authenticated %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

{% for user in users %}
    {{ user }}
{% endfor %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}



    <h1>Verifica firma de archivo</h1>
    <div class="container">
        <form method="post" enctype="multipart/form-data" class="form-control">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary" name="submit"> Subir </button>
        </form>
    </div>
{% else %}
    <div class="container">
    <a href="{% url 'sign_up' %}">Registrate</a>
    <a href="{% url 'sign_in' %}">Iniciar sesión</a>
    </div>
{% endif %}
{% endblock %}

